body{
    background: url(background.jpg);
    background-size: 100vw 120vh;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial;
}
.menu {
    height: auto;
    width: auto;
    word-spacing: 100px;
    text-align: center;
    padding: 20px;
}
.menu a {
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    transition: 0.3s;
    color: Blue;
}
.menu a:hover {
    color: red;
    transition: 0.3s;
}
#title {
    font-weight: bold;
    text-align: center;
    color: #6a5acd;
    font-size: 50px;
    padding: 10%;
}
#des {
    font-size: 40px;
    font-weight: bold;
    margin: 30px 50px;
}
.box {
    border-radius: 8px;
    width: 40vw;
    border: medium solid black;
    color: #4C0099;
    margin: 75px 100px;
    background-color: rgb(153, 255, 153);
}