body {
    margin: 0;
}
.container {
    background-color: Pink;
    height: 50px;
    width: 100%;
    word-spacing: 100px;
    text-align: center;
    padding: 20px;
}
.container a {
    margin: 10;
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: Black;
    transition: 0.3s;
}
.container a:hover {
    color: red;
    transition: 0.3s;
}